:root {
    color-scheme: light dark;

    --text-color: light-dark(gray, lightgray);
    --background-color: light-dark(whitesmoke, #333);
    --base-font: "Roboto Mono", monospace;
    --main-margin: clamp(.1rem, 4vw, 3rem);
    --base-size: clamp(1rem, 2vw, 1.5rem);

    --main-bg-color: light-dark(lightgoldenrodyellow, #222);
    --main-border-color: light-dark(lightgray, slategray);
}

::selection {
    color: var(--background-color);
    background-color: var(--text-color);
}

html,
body {
    min-height: calc(100vh - var(--main-margin) * 2);
    color: var(--text-color);
    background-color: var(--main-bg-color);
    font-family: var(--base-font);
    cursor: url('/assets/vector/arrowhead-rounded-outline.svg'), auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    background-color: var(--background-color);
    margin-top: 20px;
    margin-inline: var(--main-margin);
    padding: calc(var(--base-size) / 2);
    border-radius: 24px;
    cursor: url('/assets/vector/arrowhead-rounded-outline.svg'), auto;
    flex-grow: 1;
    overflow-y: auto;
    position: sticky;
    top: 24px;
    padding: 32px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    gap: clamp(7px, 2vw, 27px);
    flex-direction: row;
}

h1 {
    font-size: calc(var(--base-size) * 1.8);
    margin-bottom: var(--base-size);
}

h1.logo {
    font-size: calc(var(--base-size) * 1.2);
    line-height: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 50;
}

a:hover {
    background-color: var(--link-btn-hover-background);
    color: var(--link-btn-hover-color);
    cursor: url('/assets/vector/hand-pointer.svg'), pointer;
}

footer {
    margin-top: 24px;
    padding: var(--base-size);
    text-align: center;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    flex-shrink: 0;
}